doctype html
html(lang='tw')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='/stylesheets/std.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		header
			a#brand(href='/')= title
			nav#siteNav
				ul
			form#searchBar
		section
			block content
		footer &nbsp;
