doctype html
html(lang='tw')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= config.pageTitle||config.siteName
		link(rel='stylesheet', href='/stylesheets/std.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		header
			a#brand(href='/')= config.siteName
			nav#siteNav
				ul
					li: a(href='/law') 法規
					li: a(href='/jyi') 釋字
			form#searchBar(action='/search')
				input(type='text', name='q')
				input(type='submit', value='查詢')
		section
			block content
		footer
			if config.counter
				span ##{config.counter}
			if config.lawUpdate
				span 法規資料更新日期： #[time= config.lawUpdate]
			nav: ul.inlineList
				li: a(href='http://law.moj.gov.tw/PublicData/DevelopGuide.aspx', target='_blank', title='全國法規資料庫') 資料來源
				li: a(href='https://github.com/kong0107/twLaw/issues', target='_blank', title='GitHub') 錯誤回報
