doctype html
html(lang='tw', ng-app='twLawApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= pageTitle
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
		script(src='/js/angular/app.js')
		script(src='/js/angular/controllers.js')
		link(rel='stylesheet', href='/css/std.css')
		link(rel='stylesheet', href='/css/main.css')
	body
		header
			a#brand(href='/')= siteName
			nav#siteNav
				ul
					li: a(href='/law') 法規
					li: a(href='/jyi') 釋字
			form#searchBar(action='/search')
				input(type='text', name='q')
				input(type='submit', value='查詢')
		section(ng-controller=ngController)
			block content
		footer
			if visitCounter
				span ##{visitCounter}
			if lawUpdate
				span 法規資料更新日期： #[time= lawUpdate]
			nav: ul.inlineList
				li: a(href='http://law.moj.gov.tw/PublicData/DevelopGuide.aspx', target='_blank', title='全國法規資料庫') 資料來源
				li: a(href='https://github.com/kong0107/twLaw/issues', target='_blank', title='GitHub') 錯誤回報
