/**
 * This file shall apply to a specific site.
 */

/**
 * Header
 */
body > header {
	background-color: #000;
	color: #fff;
}
body > header > * {
	float: left;
}
body > header a {
	color: inherit;
	text-decoration: none;
}
#brand {
	font-size: xx-large;
	font-weight: bold;
	margin: .5em 1em;
}
#siteNav {
	margin: 1em 1em .5em 4em;
}
#siteNav li {
	list-style-type: none;
	display: inline-block;
	margin: .5em;
	padding: .3em .5em;
	border: 1px solid #ccc;
	background-color: #444;
}
#siteNav li:hover {
	background-color: #000;
	color: #ff0;
}
#searchBar {
	float: right;
	margin: 1em;
	position: relative;
}
#searchBar > input[type=text] {
	padding: .3em 4em .3em .3em;
}
#searchBar > input[type=submit],
#searchBar > input[type=image] {
	position: absolute;
	margin: .2em;
	right: 0;
	top: 0;
}

/**
 * Content
 */
h1 { font-size: 300%; }
h2 { font-size: 250%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
h5 { font-size: 150%; }
h6 { font-size: 125%; }
.dlTable > dl > dt { font-weight: bold; }
.tableCell,
.dlTable > dl > dt,
.dlTable > dl > dd {
	padding: .3em;
	border: 1px solid #000;
}



/**
 * Footer
 */
body > footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: .5em;
}
